includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - modules/

    # Level 9 is the highest level
    level: 9

#    ignoreErrors:
#        - '#PHPDoc tag @var#'

    excludePaths:
        - modules/*/tests/*

#    treatPhpDocTypesAsCertain: false
#    checkMissingIterableValueType: false
#    checkGenericClassInNonGenericObjectType: false
